* {
    padding: 0;
    margin: 0;
}


body {
    & header{
        background-image: url("../images/background/headerBackgroundImage.png");
        background-size: cover;
        background-position: 60%;
        border-bottom: 0.5vh solid black;
        height: 4vh;
        border: black 0.5vh solid;
        border-radius: 1.5vh;
        margin: 2vh 70vh 1vh;
        padding: 1vh 0;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    background-image: url("../images/background/qQiK21B.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: background-image 2s ease-in-out;

    & .parent{
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
        
        & .image{
            display: block;
            border: black 0.5vh solid;
            border-radius: 1vh;
            margin-right: 2%;
            margin-left: 10vh;
            width: 50%;
            & .img{   
                display: block;
                max-width: 100%;
            }
            max-width: 100vw;
            max-height: 50vh;
        }

        & .basicInfo{
            border: black 0.5vh solid;
            border-radius: 1vh;
            margin-left: 2%;
            margin-right: 10vh;
            width: 50%;
            background-color: antiquewhite;
            opacity: 75%;

            & h2{
                text-align: center;
            }
        }
    }

    & .goBackButton{
        margin-top: 5vh;
        display: flex;
        width: 100%;
        justify-content: center;

        & .link{
            border: black 0.5vh solid;
            padding: 1vh;
            background-color: aliceblue;
            text-decoration: none;
            color: black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }
}